.env
venv/
__pycache__/
*.pyc
.DS_Store
clear_license.js



3_youtube_poster/client_secrets.json
3_youtube_poster/token.pickle
exchange_auth.py
test_pdf.py
*.mp4
*.pickle
1_md_converter/serviceAccountKey.json
*.db
